.heading{
    margin: 0px;
    box-shadow: 3px 3px 3px grey;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
}
.note{
    color: black;
}
#Copyright_Claim{
    float: bottom;
    position: fixed;
    text-align: center;
    bottom: 0;
}